div {
    background-color: aquamarine;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.fardin {
    text-align: center;
    background-color: aliceblue;
    padding: 15px;
}

#miya {
    background-color: brown;
    font-size: larger;
    font-weight: 900;
}