div {
    background-color: aquamarine;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    margin: 30px 30px 40px;
    font-size: larger;
    padding: 25px 25px 25px;
}

.fardin {
    text-align: center;
    background-color: aliceblue;
    padding: 15px;
}

#miya {
    background-color: rgb(249, 201, 201);
    font-size: larger;
    font-weight: 900;
}